/* cascade style sheet css way to use
inline ,internal and external*/
/* body{
    background-color: black;
}
#p1{
    color:white;
}
#p2{
    color:red;
}
#p3{
    color:blue;
}
#p4{
    color:green;
} 
.odd{
    color:yellow;
}
.even{
    color:violet;
}
    names ,rgb values,hexadecimal,hsl*/
/* body{
    background-color: black;
}
h1{
    color:rgb(255,0,0) 
     color:hsl(0, 81%, 55%) 
    
}
.p1{
    font-family: sans-serif;
    color:white;
}
p{
    color:red;
    font-size: 1em;
    font-weight:bold ;
    font-style: italic;
} 
body{
 
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;


}*/

h1{
    /* border-style: double; 
    border-style: dotted;
    border-style:solid;
    border-style:inset;
    border-style: outset;
    border-style:solid;
    border-width:5px;
    border-radius: 10px;
    border-color:red;*/
    border:solid 5px red;
    }
p{
    border-bottom: 10px solid yellow;
    border-top: 10px solid green;
    border-left: 10px solid blue;
    border-right: 10px solid red;
}
