/* cascade style sheet css way to use
inline ,internal and external*/
/* body{
    background-color: black;
}
#p1{
    color:white;
}
#p2{
    color:red;
}
#p3{
    color:blue;
}
#p4{
    color:green;
} 
.odd{
    color:yellow;
}
.even{
    color:violet;
}
    names ,rgb values,hexadecimal,hsl*/
/* body{
    background-color: black;
}
h1{
    color:rgb(255,0,0) 
     color:hsl(0, 81%, 55%) 
    
}
.p1{
    font-family: sans-serif;
    color:white;
}
p{
    color:red;
    font-size: 1em;
    font-weight:bold ;
    font-style: italic;
} 
body{
 
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;


}*/

/*h1{
     border-style: double; 
    border-style: dotted;
    border-style:solid;
    border-style:inset;
    border-style: outset;
    border-style:solid;
    border-width:5px;
    border-radius: 10px;
    border-color:red;
    border:solid 5px red;
    }
p{
    border-bottom: 10px solid yellow;
    border-top: 10px solid green;
    border-left: 10px solid blue;
    border-right: 10px solid red;
}*/

/*text shadows 1st one horizontal and 2nd one vertical and 3rd one pleer*/
/* body{
    margin:0;
}
h1{
    text-shadow: 3px 3px 2px red, -3px -3px 2px blue;
} */
/* #box1{
    width:100px;
    height:100px;
    background-color: pink;
    box-shadow: 3px 3px 5px;
} 
    auto used to center the element*/
/* .box{
    border:5px red solid;
    font-size: 5em;
    height:250px;
    width:250px;
    background-color: greenyellow;
    margin:20px ;
    margin:auto;

} */
/* #box1{
    background-color: greenyellow;
    margin-bottom:20px;
    margin-left:20px; 
    margin:20px;
}
#box2{
    background-color: blue;
    margin:20px;
}   */
/* body{
    display:flow-root;
   }
img{
    width:200px;
    height:200px;
}

#i1{
    float:right;
    

}
#i2{
    float:left; 
}*/

/* div{
    border:2px solid;
    height:70px;
    overflow:hidden; 
    overflow:scroll;
    overflow:auto;
    overflow:visible;
    overflow-clip-margin: 30px;

} */

/* div{
    background-color: greenyellow;
    width:100px;
    height:100px;
    display:inline-block; 
    display:none; 
    display:hidden;
} */
/* span{
    background-color: aqua;
    display:inline-block;
    width:100px;
    height:100px;
}
p{
    display:inline-block;
} */



/* .box{
    border:2px solid;
    height:auto;
    width:50%;
    margin:10px;
    float:left;
    padding:20px;
    box-sizing: border-box;
    text-align: center;
    max-width: 500px;

} */


/* relative */
/* #box1{
    width:200px;
    height:200px;
    margin:10px;
    background-color: blue;
    position:absolute;
    top:100px;
    left:250px;

   

} */
/* absolute */
/* #box1{
    width:200px;
    height:200px;
    margin:10px;
    background-color: blue;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
} */


/* #box1{
    width:200px;
    height:200px;
    margin:10px;
    background-color: blue;
    position:sticky;
    top:100px;
    left:200px;
   

}
#box2{
    background-color: yellowgreen;
    height:100px;
    width:100px;
    position: absolute;
    top:50px;
    left:50px;

}
#box3{
    width:50px;
    height:50px;
    background-color: yellow;
    top:20px;
    left:20px;
    position:absolute;
} */

/* #box1{
    height:250px;
    width:250px;
    position:relative;
    background-color: blue;
    margin:10px;

}
#box2{
    height:50px;
    width:50px;
    position:absolute;
    background-color: yellow;
    bottom:0px;
    right:0px;

} */



#container{
    border:2px solid;

}
/* #container p{
    background-color: yellow;
} 
#container > p{
    background-color: yellow;
}
    under the code called general sibiling*/

/* #container ~ p{
    background-color: yellow;
} */
 /* p +={
    background-color: yellow;
}  */

/* seoudoclass */



