/* cascade style sheet css way to use
inline ,internal and external*/
/* body{
    background-color: black;
}
#p1{
    color:white;
}
#p2{
    color:red;
}
#p3{
    color:blue;
}
#p4{
    color:green;
} 
.odd{
    color:yellow;
}
.even{
    color:violet;
}
    names ,rgb values,hexadecimal,hsl*/
/* body{
    background-color: black;
}
h1{
    color:rgb(255,0,0) 
     color:hsl(0, 81%, 55%) 
    
}
.p1{
    font-family: sans-serif;
    color:white;
}
p{
    color:red;
    font-size: 1em;
    font-weight:bold ;
    font-style: italic;
} 
body{
 
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;


}*/

/*h1{
     border-style: double; 
    border-style: dotted;
    border-style:solid;
    border-style:inset;
    border-style: outset;
    border-style:solid;
    border-width:5px;
    border-radius: 10px;
    border-color:red;
    border:solid 5px red;
    }
p{
    border-bottom: 10px solid yellow;
    border-top: 10px solid green;
    border-left: 10px solid blue;
    border-right: 10px solid red;
}*/

/*text shadows 1st one horizontal and 2nd one vertical and 3rd one pleer*/
/* body{
    margin:0;
}
h1{
    text-shadow: 3px 3px 2px red, -3px -3px 2px blue;
} */
/* #box1{
    width:100px;
    height:100px;
    background-color: pink;
    box-shadow: 3px 3px 5px;
} 
    auto used to center the element*/
/* .box{
    border:5px red solid;
    font-size: 5em;
    height:250px;
    width:250px;
    background-color: greenyellow;
    margin:20px ;
    margin:auto;

} */
/* #box1{
    background-color: greenyellow;
    margin-bottom:20px;
    margin-left:20px; 
    margin:20px;
}
#box2{
    background-color: blue;
    margin:20px;
}   */
/* body{
    display:flow-root;
   }
img{
    width:200px;
    height:200px;
}

#i1{
    float:right;
    

}
#i2{
    float:left; 
}*/

/* div{
    border:2px solid;
    height:70px;
    overflow:hidden; 
    overflow:scroll;
    overflow:auto;
    overflow:visible;
    overflow-clip-margin: 30px;

} */

/* div{
    background-color: greenyellow;
    width:100px;
    height:100px;
    display:inline-block; 
    display:none; 
    display:hidden;
} */
/* span{
    background-color: aqua;
    display:inline-block;
    width:100px;
    height:100px;
}
p{
    display:inline-block;
} */



/* .box{
    border:2px solid;
    height:auto;
    width:50%;
    margin:10px;
    float:left;
    padding:20px;
    box-sizing: border-box;
    text-align: center;
    max-width: 500px;

} */


/* relative */
/* #box1{
    width:200px;
    height:200px;
    margin:10px;
    background-color: blue;
    position:absolute;
    top:100px;
    left:250px;

   

} */
/* absolute */
/* #box1{
    width:200px;
    height:200px;
    margin:10px;
    background-color: blue;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
} */


/* #box1{
    width:200px;
    height:200px;
    margin:10px;
    background-color: blue;
    position:sticky;
    top:100px;
    left:200px;
   

}
#box2{
    background-color: yellowgreen;
    height:100px;
    width:100px;
    position: absolute;
    top:50px;
    left:50px;

}
#box3{
    width:50px;
    height:50px;
    background-color: yellow;
    top:20px;
    left:20px;
    position:absolute;
} */

/* #box1{
    height:250px;
    width:250px;
    position:relative;
    background-color: blue;
    margin:10px;

}
#box2{
    height:50px;
    width:50px;
    position:absolute;
    background-color: yellow;
    bottom:0px;
    right:0px;

} */



/* #container{
    border:2px solid;

} */
/* #container p{
    background-color: yellow;
} 
#container > p{
    background-color: yellow;
}
    under the code called general sibiling*/

/* #container ~ p{
    background-color: yellow;
} */
 /* p +={
    background-color: yellow;
}  */


/* .float1{
    height:250px;
    width:250px;
    background-color: yellow;
    margin:10px;
    position:relative;
    
    
}
#b1{
    height:50px;
    width:50px;
    background-color: red;
    position:absolute;

}
#b2{
    height:50px;
    width:50px;
    background-color: red;
    position:absolute;
    bottom:0px;
    
    
}
#b3{
    height:50px;
    width:50px;
    background-color: red;
    position:absolute;
    bottom:0px;
    right:0px;
    
}
#b4{
    height:50px;
    width:50px;
    background-color: red;
    position:absolute;
    top:0px;
    right:0px;
    
}
.box2{
    height:100px;
    width:100px;
    background-color: red;
    position:absolute;
    top:80px;
    left:80px;

}
#b5{
    position:absolute;
    height:30px;
    width:30px;
    background-color: brown;
}
#b6{
    position:absolute;
    height:30px;
    width:30px;
    background-color: brown;
    top:0px;
    right:0px;
}
#b7{
    position:absolute;
    height:30px;
    width:30px;
    background-color: brown;
    bottom:0px;
}
#b8{
    position:absolute;
    height:30px;
    width:30px;
    background-color: brown;
    bottom:0px;
    right:0px;
} */
/* .container div{
    background-color: red;
} */
/* div ~ p{
    background-color: blue;
} */
/*.container > div{
    background-color: aqua;
}

.container + p{
    background-color: blueviolet;
} */

/* seoudoclass */

/* a:hover{
    color:red;
    font-size: 50px;
} */
/* a:active{
    color: lightgreen;
    font-size: 30px;
} */
/* a:visited{
    color:red;
} 

li:hover{
    color:red;
}
li:hover{
    color:blue;
}
li:not(:hover){
    background-color: green;
}
li:nth-child(even){
    background-color: lightgreen;
}
li:nth-child(3n+1){
    background-color: lightgreen;
}

#greeting p{
    background-color: lightgeen;
    display:none;


}
#greeting:hover p{
    display:block;
}

h1::first-letter{
    font-size: 2em;

}
p::first-line{
   background-color: lightgreen;
}

p::selection{
    color:white;
    background-color: red;
}*/
/* #fruit li::before{
     content:"✔";
}
#orange::after{
    content:"🍊";
}
#kivi::after{
    content:"🍒"
} */
/* remove dot */
/* #fruit li::marker{
    content:"😀";
} */

/* pagination */

 /* .pagination{
    text-align: center;
    
}
.pagination a{
    color:black;
    text-decoration: none;
    padding:7px 15px;
    display:inline-block;

}
.pagination a.active{
    background-color: green;
    border-radius: 10px;
}
.pagination a:hover:not(.active){
    background-color: lightblue;
    border-radius: 10px;
} 

.dropdown{
    display:inline-block;
}  */

/*.dropdown button{
    color:white;
    background-color: black;
    padding:10px;
    border:none;
    cursor:pointer;
}
.dropdown a{
    display:block;
    color:black;
    text-decoration: none;
    padding:10px 15px;
    
}
.dropdown .content{
    background-color: gray;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 4px;
    display:none;

}
.dropdown:hover .content{
    display:block;
}
.dropdown:hover button{
    background-color: red;
}
.dropdown a:hover {
    background-color: lightcoral;
} */

/* h1{
    text-align: center;

}

.list ul{
    list-style-type: none;
    background-color: aqua;
    padding:0px;
    margin:0px;
    overflow: hidden;


}
.list a{
    color:burlywood;
    text-decoration: none;
    padding:15px;
    display:block;
    text-align: center;

}
.list a:hover{
    background-color: aquamarine;
}
.list li{
    float:left;
} */

/* .container{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly; 
    border:10px solid black;
    height:90vh;
    align-items:center;
    flex-wrap: wrap-reverse; 
    flex-wrap: wrap;
    align-content: center;
    column-gap: 20px;
    row-gap: 20px;

    
}
.box{
    width:100px;
    height:100px;
    text-align: center;
    font-size: 5em;

}
#box1{
    background-color: yellow;
    align-self: flex-end;

}
#box2{
    background-color: blueviolet;

}
#box3{
    background-color: greenyellow;

}
#box4{
    background-color: red;

}
#box5{
    background-color: brown;

}
#box6{
    background-color: aqua;

} */


/*#box1{
    width:200px;
    height:200px;
    border:solid 5px;
    font-size: 10em;
    background-color: blue;
    text-align: center;
    transform: rotateX('50');
    transform:rotateY('180');
    transform:scaleX(20);
    transform:scaleY(10); 

    transform: translateX(100px) rotateX(50px) ;




}*/
/* body{
    background-color: black;
}
#box{
    width:250px;
    height:250px;
    background-color: yellow;
    font-size: 11em;
    text-align: center;
    animation: glow;
    animation-duration: 2s; 
    animation-delay: 3s;

    
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    
}
@keyframes slideleft{
    from{transform:translateX(100px)}

}
@keyframes slideright{
    to{transform:translateX(100px)}

}
@keyframes slideup{
    to{transform:translateY(100px)}

}
@keyframes slidedown{
    to{transform:translateY(100px)}

}
@keyframes rotate{
    100%{
        transform:rotateX(20%);
    }
}
@keyframes scale{
    50%{
        transform:scale(2,3);
    }
}

@keyframes fade{
    100%{
        transform:50%;
    }
}
@keyframes color{
    0%{
        background-color: grren;
    }
    35%{
        background-color: aqua;
    }
    60%{
        background-color: blueviolet;
    }
    100%{
        background-color: violet;
    }
}
#box:hover{
    animation-name: glow;
    animation-duration: 3s;
}
@keyframes glow{
    50%{
        box-shadow: 0px 0px  50px violet;
    }
} */
/* marquee{
    width:50px;
    height:50px;
    background-color: pink;
} */




